.container{
  width:80%;
	margin:0 auto;
}
header{
  background:rgb(248, 252, 244);
}
header::after{
  content:'';
	display: table;
	clear: both;
}
nav{
  float:right;
}
nav ul{
  margin:0;
	padding:0;
	list-style:none;
}
nav li{
  float: left;
	margin-left:70px;
	padding-top:20px;
}
a{
  text-decoration: none;
}
a:hover{
  background-color:#C6E9FF;
}
nav a{
  color:black;
	font-size:15px;
}